/* SUPER MINI COLORS */

.bg-aqua {
    background-color: #7FDBFF
}

.bg-blue {
    background-color: #0074D9
}

.bg-green {
    background-color: #2ECC40
}

.bg-lime {
    background-color: #01FF70
}

.bg-olive {
    background-color: #3D9970
}

.bg-orange {
    background-color: #FF851B
}

.bg-purple {
    background-color: #B10DC9
}

.bg-red {
    background-color: #FF4136
}

.bg-silver {
    background-color: #ddd
}

.bg-teal {
    background-color: #39CCCC
}

.bg-yellow {
    background-color: #FFDC00
}

.blue {
    color: #0074D9
}

.navy {
    color: #001F3F
}

.lime {
    color: #01FF70
}

.maroon {
    color: #85144B
}

.purple {
    color: #B10DC9
}

.yellow {
    color: #FFDC00
}

.fuchsia {
    color: #F012BE
}

.silver {
    color: #ddd
}

.white {
    color: #fff
}

.black {
    color: #111
}

body {
    font-family: avenir, 'avenir next', helvetica, arial, sans-serif
}

/*
article, code, div, fieldset, footer, form, header, input[type=url], input[type=password], input[type=text], input[type=tel], input[type=email], main, p, pre, section {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

*, :after, :before {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}*/

a:link {
    opacity: 1;
    -webkit-transition: opacity .15s ease-out;
    transition: opacity .15s ease-out;
    text-decoration: none
}

a:hover {
    opacity: .5;
    -webkit-transition: opacity .15s ease-out;
    transition: opacity .15s ease-out
}

a:active {
    opacity: .7;
    -webkit-transition: opacity .15s ease-out;
    transition: opacity .15s ease-out
}