/* Global */

* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 1em;
    line-height: 1.4;
    border-radius: 0;
}

html, body, div, article, section, main, footer, header, form, fieldset,
pre, code, p, ul, ol, li, dl, dt, dd, textarea, input, input[type="email"],
input[type="number"], input[type="password"], input[type="tel"],
input[type="text"], input[type="url"], .border-box {
    box-sizing: border-box;
}

html, body {
	width: 100%;
	height: 100%;
}

html {
	display: flex;
}

body {
    font-family: avenir, 'avenir next', helvetica, arial, sans-serif
    margin: auto;
    overflow-y: scroll;
    animation: load-fade-in 0.5s linear 0s 1 normal;
}

template { display: none !important; } /*Really important*/
template * { display: none !important; } /* IE smh */

button { outline: none; border: none; }

audio, canvas, iframe, img, svg, video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
}

::-ms-clear {  display: none; width : 0; height: 0; }
::-ms-reveal {  display: none; width : 0; height: 0; }
::-webkit-search-decoration,
::-webkit-search-cancel-button,
::-webkit-search-results-button,
::-webkit-search-results-decoration { display: none; }

::selection, ::-moz-selection {
    background: rgba(0, 0, 0, 0.5);
    text-shadow: none;
}

/* General */

.darken .shade { background: rgba(0, 0, 0, 0.333); color: #fff; }
.darken .shade::-webkit-input-placeholder { color: #fff; }
.darken .shade::-moz-placeholder { color: #fff; }
.hide { display: none; }

button:hover,
input:hover {
  opacity: .5;
  -webkit-transition: opacity .15s ease-out;
  transition: opacity .15s ease-out
}

button:active,
input:active {
  opacity: .7;
  -webkit-transition: opacity .15s ease-out;
  transition: opacity .15s ease-out
}

button:focus,
input:focus {
  opacity: .7;
  -webkit-transition: opacity .16s ease-out;
  transition: opacity .16s ease-out
}


/* Navigation */

div.navigation {
	position: fixed;
	top: 0;
	z-index: 1000;
	display: block;
	margin: auto;
	width: inherit;
	background-color: inherit;
	overflow: hidden;
	transition: top 0.15s ease-out;
}

div.search-container {
	display: block;
	width: 100%;
	height: 64px;
	overflow: hidden;
}

div.navigation.collapse {
	top: -64px; /*height of search bar*/
	transition: top 0.15s ease-out;
}

input.search {
    margin: auto;
    width: 100%;
    height: 64px;
    padding: 1em;
    text-transform: uppercase;
    border: none;
    outline: 0;

/* Remove default input styling from WebKit/Moz */
    appearance:         none;  /* Fallback */
    -moz-appearance:    none;  /* Firefox */
    -webkit-appearance: none;  /* Safari */
    border-radius:          0; /* Fallback */
    -moz-border-radius:     0; /* Firefox */
    -webkit-border-radius:  0; /* Safari */
}

.search-clear {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 2em;
    padding: 1em 0.5em;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    background: transparent url("../img/cross.svg");
    background-size: 32px;
    background-position: center;
    background-repeat: no-repeat;
    width: 32px;
}

div.page-navigation {
	display: block;
	width: 100%;
}

div.page-navigation-section {
    display: inline-block;
	float: left;
	width: 33.3333%;
}

button.page-navigation {
    width: 100%;
    height: 32px;
    text-align: center;
}

select.page-navigation {
	width: 100%;
    height: 32px;

    text-align: center;
    text-align: -webkit-center;

    text-align-last: center;
    text-align-last: -webkit-center;

    margin-left: auto;
    margin-right: auto;

    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    border: none;
    border-radius: 0;
}

select.page-navigation::-ms-expand { display: none; }

.darken button.page-navigation,
.darken select.page-navigation { background: rgba(0, 0, 0, 0.666); color: #fff; }

.lighten button.page-navigation:disabled,
.lighten select.page-navigation:disabled { background: rgba(0, 0, 0, 0.666); color: #444; }

.darken button.page-navigation:disabled,
.darken select.page-navigation:disabled { background: rgba(255, 255, 255, 0.333); color: #444; }

/* Body */

.page {
	margin: auto;
    width: 100%;
	min-height: 100%;
	background-color: inherit;
}

.output {
    padding: 2em 0 2em 0;
}

.content {
    position: relative;
    top: 96px;
    z-index: 2;
    width: 90%;
    margin: auto;
}

/* Notification */

.notification {
  position: fixed;
  bottom: 0px;
  left: 0px;
  z-index: 10000;
  width: 100%;
  padding: 1em;
  background: #fff;
  color: #333;
  font-size: .9em;
  transition: bottom 1s ease-out;
}

.notification.hide {
  display: block;
  bottom: -300px;
}

.notification-body {
  margin: 0 auto;
}

div.notification-actions {
  float: right;
}

button.notification-action-accept {
  background: #09f;
  color: #fff;
  font-weight: 600;
  padding: .2em .4em;
  border-radius: 3px;
  box-shadow: 0px 2px 4px -1px;
}

button.notification-action-decline {
  background: #999;
  color: #fff;
  font-weight: 600;
  padding: .2em .4em;
  border-radius: 3px;
  box-shadow: 0px 2px 4px -1px;
}

/* Footer */

footer.footer {
	display: block;
	width: 100%;
	float: left;
	margin: 64px 0 0 0;
	padding: 64px 0;
}

div.footer {
	margin: 0 auto;
	padding: 0 16px;
}

h2.footer {
	font-size: 1.25rem;
	font-weight: 100;
	margin-top: 32px;
	margin-bottom: 0;
}

h3.footer {
	font-size: .75rem;
	font-weight: 100;
	text-transform: uppercase;
	letter-spacing: .2em;
	margin-bottom: 0;
	padding-left: .5rem;
}

ul.tools-list {
	font-size: 1rem;
	margin: 0;
	padding: 0 0 32px 0;
	list-style: none;
	border-bottom: solid 1px darkgray;
}

li.tools-list {
	margin-top: 1rem;
	padding-left: 0;
	display: inline-block;
}

a.tools-list {
	font-size: 1.75rem;
	font-weight: 700;
	padding: .5rem;
}

.version {
	font-size: .75rem;
	text-transform: uppercase;
	font-weight: 700;
}

.sign-off {
	font-size: .75rem;
	text-transform: uppercase;
	letter-spacing: .2em;
	font-weight: 100;
}

span.sign-off {
	margin-top: 2rem;
	padding-left: .5rem;
}

a.sign-off {
	font-weight: 700;
}

/* Loading Screen */
.loading-overlay {
    display: flex;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
    opacity: 0;
    transition: opacity 0.333s;
    pointer-events: none;
    z-index: 999;
}
.spinner {
    margin: auto;
    width: 24px;
    height: 24px;
    border: 3px solid #ccc;
    border-top: 3px solid #000;
    border-radius: 12px;
    animation: spin 0.666s infinite linear;
    z-index: 999;
}
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/* Errors */
.error-message {
    text-align: center;
}
.sadface {
	transform: rotate(90deg);
	font-size: 9vh;
	font-family: Arial, sans-serif;
	pointer-events: none;
}

/* Result Cards */
.result-card {
	margin: 0 0 2em 0;
  padding: 1em;
}
.result-card > .rows > div {
	overflow: hidden;
	margin: 0.333em 0;
}
.result-card > .rows > div > span {
	display: inline-block;
	width: 66.666%;
	float: right;
}

/* Result Card Interactions */
.anchor {
	position: relative; top: -200px;
}
.extra-items {
  display: inline-block;
	padding: 1.333em 0 0 0;
}
.extra-item {
    display: inline;
    float: left;
    user-select: none;
    cursor: pointer;
    padding: 0.3em .6em 0.3em .6em;
    white-space: nowrap;
}
.search-description::before {
    content:'Search';
}
.map-address::before {
    content:'Map'
}
.share-card::before {
    content: 'Share';
}
.raise-ticket::before {
    content: 'Update';
}

/* Misc */
.missing-ticket {
	float: none;
}

/* Media Queries */
@media screen and (min-width:48em) {
	/* Non-mobile view */
    .page {
        width: 66.666%;
    }
    #table-header {
        width: 66.666%;
        position: fixed;
    }
    .search {
        padding: 1.3em 2.3em;
    }
    .content {
        width: 100%;
    }
    .notification-body {
      width: 66.666%;
    }
    .result-card {
        padding: 1em 2em;
    }
    .extra-item {
        margin: 0 1px 0 0;
    }
    .search-description::before {
        content:'Search Online';
    }
    .map-address::before {
        content:'View Map'
    }
    .share-card::before {
        content: 'Share Card';
    }
    .raise-ticket::before {
        content: 'Update Details';
    }
}
