/* Box Sizing //////////////////////////////////////////////////////////////////////////////////////////////////// */
html, body, div, article, section, main, footer, header, form, fieldset, pre, code, p, ul, ol, li, dl, dt, dd, textarea, input[type="email"], input[type="number"], input[type="password"], input[type="tel"], input[type="text"], input[type="url"], .border-box {
    box-sizing: border-box;
}

/* Simple Global Defaults //////////////////////////////////////////////////////////////////////////////////////////////////// */
html {
    display: flex;
    width: 100%;
    height: 100%;
}
body {
    /*display: none;*/          /*Breaks no-js warning*/
    margin: auto;
    /*color: #444;*/
    font-family: Verdana;
    overflow-y: scroll;
    width: 100%;
    height: 100%;

    animation: load-fade-in 0.5s linear 0s 1 normal;
}
table {
    border-spacing: 0;
    border-collapse: collapse;
}
#body {
    /*display: hidden;*/
    min-height:  100%;
}
#nojs {
    display: flex;              /* establish flex container */
    justify-content: center;    /* center items vertically, in this case */
    align-items: center;        /* center items horizontally, in this case */
    height: 100%;
}

@keyframes load-fade-in {
    from {opacity:0;}
    to {opacity:1;}
}

template { display: none !important; } /*Really important*/
template * { display: none !important; } /* IE smh */

/* More Global Defaults //////////////////////////////////////////////////////////////////////////////////////////////////// */
* {
    /*text-transform: capitalize;*/
    /*text-align: left;*/
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 1em;
    line-height: 1.4;
    border-radius: 0;
}

/* Simple Resets //////////////////////////////////////////////////////////////////////////////////////////////////// */
::-moz-selection {
    background: rgba(0, 0, 0, 0.5);
    text-shadow: none;
}
::selection {
    background: rgba(0, 0, 0, 0.5);
    text-shadow: none;
}
audio, canvas, iframe, img, svg, video {
    vertical-align: middle;
}
fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}
textarea {
    resize: vertical;
}
.browserupgrade {
    position: fixed;
    top: 0;
    margin: 0.2em 0;
    padding: 0.2em 0;
    width: 100%;
    color: #000;
    background: #f63;
    text-align: center;
    z-index: 999;
}
.browserupgrade a, .browserupgrade a:link, .browserupgrade a:visited, .browserupgrade a:hover, .browserupgrade a:active {
    text-decoration: underline;
    color: #63f;
    cursor: pointer;
}

/* Page aka the Canvas //////////////////////////////////////////////////////////////////////////////////////////////////// */
.page,
footer {
    margin: auto;
    background-color: inherit;
}
footer {
    margin: 4em 0 0 0;
}

/* Head block //////////////////////////////////////////////////////////////////////////////////////////////////// */
table.head {
    table-layout: fixed;
    margin: auto;
    position: fixed;
    z-index: 999;
    background-color: inherit;
}
.table-w-100 {
    width: 100%;
}
.table-w-66 {
    width: 66.666%;
}
.table-w-50 {
    width: 50%;
}
.table-w-33 {
    width: 33.333%;
}
.ta-l {
    text-align: left;
}
.ta-c {
    text-align: center;
}
.ta-r {
    text-align: right;
}
.header {

    display: block;

    transition: height 0.15s ease-out;

    overflow: hidden;

    height: 64px;

    /*position: fixed;*/

    /*width: 66.666%;*/

    /*height: 133px;*/

    /*top: 0;*/

    /*z-index: 3;*/

    /*background: #fff;*/
}
.search {
    margin: auto;
    width: 100%;
    height: 64px;
    padding: 1em;
    text-transform: uppercase;
    /*background: #efefef;*/
    border: none;
    outline: 0;
    /*margin-top: -3px;*/
}
.search::-ms-clear {
    display: none;
}

.btn-clear {
    position: absolute;
    right: 0;
    top: 0;
    line-height: 0;
    text-decoration: none;
    font-size: 2em;
    padding: 1em 0.5em;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-callout: none;
    -webkit-touch-callout: none;
}

.collapse { 
    height: 0px !important;
    overflow: hidden;
}

/* Pagination ////////////////////////////////////////////////////////////////////////////////////// */

button { outline: none; border: none; }

.pagination {
    display: flex;
    height: 32px;
}
.pagination > * {
    width: 100%;
}
.pagination-btn {
    width: 100%;
    height: 32px;
    text-align: center;
    /*height: 1.4em;*/
}
#combo-pages {
    width: 100%;
    height: 32px;
    /*height: 1.4em;*/

    text-align: center;
    text-align: -webkit-center;

    text-align-last: center;
    text-align-last: -webkit-center;

    margin-left: auto;
    margin-right: auto;

    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    border: none;
    border-radius: 0;
}

button:link,
input:link {
  opacity: 1;
  -webkit-transition: opacity .15s ease-out;
  transition: opacity .15s ease-out;
  text-decoration: none
}

button:hover,
input:hover {
  opacity: .5;
  -webkit-transition: opacity .15s ease-out;
  transition: opacity .15s ease-out
}

button:active,
input:active {
  opacity: .7;
  -webkit-transition: opacity .15s ease-out;
  transition: opacity .15s ease-out
}

button:focus,
input:focus {
  opacity: .7;
  -webkit-transition: opacity .16s ease-out;
  transition: opacity .16s ease-out
}

/* Filter type toggle styling //////////////////////////////////////////////////////////////////////////////////////////////////// */

label,
button,
select {
    /*margin: 0 1em 0 0;*/
    cursor: pointer;
}


/* Loading Overlay /////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.loading-overlay {
    display: flex;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
    opacity: 0;
    transition: opacity 0.333s;
    pointer-events: none;
    z-index: 999;
}
.spinner {
    margin: auto;
    width: 24px;
    height: 24px;
    border: 3px solid #ccc;
    border-top: 3px solid #000;
    border-radius: 12px;
    animation: spin 0.666s infinite linear;
    z-index: 999;
}
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/* Content block //////////////////////////////////////////////////////////////////////////////////////////////////// */
.content {
    position: relative;    /*width: 66.666%;*/
    /*height: 100vh;    top: 166.666px;*/
    top: 96px;
    z-index: 2;
    width: 90%;
    margin: auto;
}
.output, table, tbody {
    width: 100%;
}

/*.output { padding-top: 8em; width: 66%; max-width: 800px; margin: 0 auto;}*/
.output {
    padding: 2em 0 2em 0;
}
.output li {
    margin: 0 0 2em 0;
    padding: 1em;
}
.no-results, .no-results > p {
    text-align: center;
}

.anchor { position: relative; top: -200px; }

.result-card > div { overflow: hidden; margin: 3px 0; }
.result-card > div > span { display: inline-block; width: 66.666%; float: right; }

/* Table default styling //////////////////////////////////////////////////////////////////////////////////////////////////// */

.content tbody tr td {
    line-height: 1.8;
}
.content tbody tr td:nth-child(1) {
    width: 33.333%;
    display: none;
}
.content tbody tr td:nth-child(2) {
    width: 66.666%;
}

x.darken .content tr:nth-child(even),
x.darken .content tr:nth-child(odd) {
    /*background: #f6f6f6;*/
    background: rgba(0, 0, 0, 0.333); /*color: #fff;*/ }
}
x.lighten .content tr:nth-child(even),
x.lighten .content tr:nth-child(odd) {
    /*background: #fff;*/
    background: rgba(255, 255, 255, 0.666); /*color: #000;*/ }
}

.show {
}
.hide {
    display: none;
}

/* Table extras styling //////////////////////////////////////////////////////////////////////////////////////////////////// */
.extra-item {
    display: inline;
    float: left;
    user-select: none;
    cursor: pointer;
    padding: 0.3em .6em 0.3em .6em;
}

.search-description:before {
    content:'Search';
}
.map-address:before {
    content:'Map'
}
.share-card:before {
    content: 'Share';
}
.raise-ticket:before {
    content: 'Update';
}

/* Misc styling //////////////////////////////////////////////////////////////////////////////////////////////////// */
p {
    word-wrap: pre;
}
b {
    /*color: red;*/
    background: yellow;
    text-transform: uppercase;
}
hr.hr-styling {
    margin: auto;
    position: relative;
    width: 100%;
    height: 1px;
    border: 0;
    background-image: -webkit-linear-gradient(left, inherit, #9f9f9f, inherit);
    background-image: -moz-linear-gradient(left, inherit, #9f9f9f, inherit);
    background-image: -ms-linear-gradient(left, inherit, #9f9f9f, inherit);
    background-image: -o-linear-gradient(left, inherit, #9f9f9f, #fff);
}
.break {
    height: 64px;
    display: flex; /* TODO: Make sure this doesn't "break" anything else*/
    position: relative; /* Somehow fixes overflow hidden for absolute position children */
}

#combo-pages::-ms-expand { display: none; }

.darken .shade { background: rgba(0, 0, 0, 0.333); color: #fff; }

.darken .pagination-btn,
.darken #combo-pages { background: rgba(0, 0, 0, 0.666); color: #fff; }

.lighten .pagination-btn:disabled,
.lighten #combo-pages:disabled { background: rgba(0, 0, 0, 0.666); color: #444; }


.lighten .shade { background: rgba(255, 255, 255, 0.666); color: #000; }

.lighten .pagination-btn,
.lighten #combo-pages { background: rgba(255, 255, 255, 0.333); color: #000; }

.darken .pagination-btn:disabled,
.darken #combo-pages:disabled { background: rgba(255, 255, 255, 0.333); color: #444; }

.darken .shade::-webkit-input-placeholder { color: #fff; }
.darken .shade::-moz-placeholder { color: #fff; }
.darken .shade:-ms-input-placeholder { color: #fff; }
.darken .shade:-moz-placeholder { color: #fff; }

.lighten .shade::-webkit-input-placeholder { color: #000; }
.lighten .shade::-moz-placeholder { color: #000; }
.lighten .shade:-ms-input-placeholder { color: #000; }
.lighten .shade:-moz-placeholder { color: #000; }

/* Media Queries //////////////////////////////////////////////////////////////////////////////////////////////////// */
@media screen and (min-width:48em) {
    .page {
        width: 66.666%;
    }
    #table-header {
        width: 66.666%;
        position: fixed;
    }
    .search {
        padding: 1.3em 2.3em;
    }
    .content {
        width: 100%;
    }
    .content tbody tr td:nth-child(1) {
        display: table-cell;
    }
    .extra-item {
        margin: 0 1px 0 0;
    }
    .search-description:before {
        content:'Search Online';
    }
    .map-address:before {
        content:'View Map'
    }
    .share-card:before {
        content: 'Share Card';
    }
    .raise-ticket:before {
        content: 'Update Details';
    }
}
@media screen and (min-width:48em) and (max-width:64em) {
}
@media screen and (min-width:64em) {
    #chk-match-phrase ~ label:before { content: "Match Phrase" }
    #chk-match-all ~ label:before { content: "All Keywords" }
}

/* WIP Bits-N-Bobs for accessability, etc //////////////////////////////////////////////////////////////////////////////////////////////////// */
.hidden {
    display: none !important;
}
.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}
.invisible {
    visibility: hidden;
}
.clearfix:before, .clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}

/* WIP Print styling //////////////////////////////////////////////////////////////////////////////////////////////////// */
@media print {
    .search {
        padding: 0;
    }
    .page {
        width: 100%;
    }
    *, *:before, *:after, *:first-letter, p:first-line, div:first-line, blockquote:first-line, li:first-line {
        background: transparent !important;
        color: #444 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }
    a, a:visited {
        text-decoration: underline;
    }
    a[href]:after {
        content: " ("attr(href) ")";
    }
    abbr[title]:after {
        content: " ("attr(title) ")";
    }
    a[href^="#"]:after, a[href^="javascript:"]:after {
        content: "";
    }
    pre {
        white-space: pre-wrap !important;
    }
    pre, blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    thead {
        display: table-header-group;
    }
    tr, img {
        page-break-inside: avoid;
    }
    p, h2, h3 {
        orphans: 3;
        widows: 3;
    }
    h2, h3 {
        page-break-after: avoid;
    }
}
